
.item-list{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    height: 100%; 
    background-color: rgb(8, 49, 85);
    


}