.vista{
  width: 100%;
}
.producto {
    margin: 20px; 
    text-align: center; 
    background-color: rgba(32, 38, 93, 0.81);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    width: 500px;
    display: inline-block;
      box-sizing: border-box; 
  }
  .informacion {
    text-align: center; /* Centra los elementos dentro del contenedor */
  }
  
  .informacion > * {
    display: inline-block; /* Muestra los elementos uno al lado del otro */
    vertical-align: top; /* Alinea los elementos verticalmente en la parte superior */
    margin: 10px; /* Añade un margen entre los elementos */
    padding: 20px; /* Añade espacio dentro de las cajas */
    border: 1px solid #ccc; /* Añade un borde a las cajas */
    border-radius: 8px; /* Agrega esquinas redondeadas a las cajas */
  }
  .imagen {
    width: 100px; 
    height: auto; 
    margin-right: 10px;
  }
  
  .nombre {
    font-weight: bold;
    color: antiquewhite;
  }
  
  .texto {
    margin: 5px 0;
    color: antiquewhite;
  }

  .tituloCarrito {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
  }
  
  .tituloCarrito h2 {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
  }